<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inder&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inder&family=Indie+Flower&family=Inter:opsz,wght@14..32,100&display=swap"
        rel="stylesheet">
    <title>Document</title>

    <style>
        .swiper {
            width: 180vh;
            height: 40vh;
            background-image: url("/imgs/swiper.jpg");
            background-color: #f7f7f5;
            background-repeat: no-repeat;
            background-size: cover;
            /* or 'contain' or specific dimensions */
            background-position: center;
            margin-bottom: 10px;

        }

        .hero {
            display: inline-block;
            min-width: 914px;
            height: 627px;


        }

        .img {
            position: relative;
            max-width: 914px;
            height: 627px;

        }

        .brides {
            width: 551px;
            height: 302px;
            position: relative;
            left: 267px;
            top: 11px;
            right: 96px;
        }

        .handholding {
            width: 192px;
            height: 268px;
            position: absolute;
            left: 715px;
            bottom: 112px;
            top: 247px;

            border-radius: 21px;
            border: 5px solid rgba(219, 230, 236, 1);
            box-shadow: 0px 2px 8px 1px gray;

        }

        .handholding:hover {
            box-shadow: 2px 4px 20px 5px rgba(10, 175, 225, 0.55);
        }

        .text {
            display: inline-block;
            position: absolute;
            left: 1197px;
            top: 359px;
            bottom: 605px;




        }


        h2 {
            font-family: "Inder", sans-serif;
            font-weight: 20;
            font-style: normal;
            margin-bottom: 0;
        }

        h4 {
            font-family: "Inder", sans-serif;
            font-weight: 40;
            font-style: static;
            margin-top: 4px;

        }

        /* .reviews.section {
            position: absolute;
            width: 1500px;
            height: 400px;

            top: 884px;
            left: 450px;
            margin-left: auto;
            margin-top: 200px;
            background: linear-gradient(45deg, rgb(226 127 213 / 72%), rgba(246, 80, 80, 0.27), rgba(241, 171, 246, 0.471), rgb(197 238 219), rgb(225, 232, 184), rgb(155 190 230));
            background-size: 400% 400%;
            animation: floatingGradient 12s ease-in-out infinite;
        }

        @keyframes floatingGradient {
            0% {
                background-position: 0% 50%;
            }

            50% {
                background-position: 100% 50%;
            }

            100% {
                background-position: 0% 50%;
            }
        } */

        /* .show_more{
            position:relative;
            top:376px;
            left:1256px;
            font-size: medium;
            color:purple

        } */
        .section-title {
            text-align: center;
            font-size: 2.5rem;
            margin-bottom: 40px;
        }

        .section-title span {
            color: #f74d4d;
            border-bottom: 2px solid #f74d4d;
        }

        .review-card {
            background: white;
            display:flex;
            flex-direction: column;
            padding: 20px;
            border-radius: 15px;
            box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
            position: relative;
            max-height: 250px;
            min-height: 230px;
            ;
            width: 40vh;
            margin-top: 30px;
            margin-left: 8px;
            justify-content:space-between;
           
        }

        .stars {
            color: gold;
            font-size: 1.2rem;
        }

        .review-footer {
            display: flex;
            
           position:relative;
           
            z-index: 1;
            gap:10px;
            align-items:flex-end;
        }

        .avatar {
            width: 60px;
            max-height: 60px;
            border-radius: 50%;
           
           
        }
        

        .review-date {
            position: absolute;
            top: 10px;
            right: 20px;
            font-size: 0.8rem;
            color: #888;
        }

        .view_all {
            background-color: #f65a5b;
            /* similar to the red in your image */
            color: white;
            border: none;
            border-radius: 999px;
            padding: 10px 20px;
            font-size: 14px;
            font-weight: bold;
            cursor: pointer;
            transition: background-color 0.3s ease;
            position: relative;
            display: flex;
            justify-content: center;

            margin: 0 auto;
        }

        .view_all:hover {
            background-color: #e04a4b;
            /* darker shade for hover */
        }

        
    </style>
</head>

<body>
    <%- include('navbar') %>
        <div>
            <div class="hero section" style="background-color: rgba(246, 246, 246, 1); ">
                <div class="img">
                    <img class="brides" src="/imgs/bride.jpg" alt="">

                </div>
                <div>
                    <img class="handholding" src="/imgs/hand.jpg" alt="">

                </div>


            </div>
            <div class="text">
                <h2>Creating special moments</h2>
                <h4>Start a new journey with us. </h4>

            </div>

            <div class="reviews section">


                <h2 class="section-title">What people <span>Think About Us</span></h2>
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        <% if (!all_comments || all_comments.length===0) { %>
                            <div class="review-card">
                                <p>No comment</p>
                            </div>
                            <% } else { %>
                                <% all_comments.forEach(review=> { %>
                                    <div class="swiper-slide">
                                        <div class="review-card">
                                            <!-- <div class="stars">★★★★★</div> -->
                                            <p>
                                                <%= review.comment||"No Comment" %>
                                            </p>
                                            <div class="review-footer">
                                                 <img src="<%=review.profile_pic?"/uploads/"+review.profile_pic :'/imgs/default-avatar.jpg '%>"
                                                    class="avatar">
                                                <div>
                                                    <h4 class="name">
                                                        <%=review.name%>
                                                    </h4>

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <% }) %>
                                        <% } %>
                    </div>
                </div>
                <form action="/more_reviews" method="get">
                    <input type="submit" value="View all" class="view_all">

                </form>


            </div>

        </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

        <script>
            var swiper = new Swiper(".mySwiper", {
                loop: true,
                autoplay: {
                    delay: 0,
                    disableOnInteraction: false,
                },
                speed: 4000,
                slidesPerView: 3,
                spaceBetween: 30,
                allowTouchMove: false,
                simulateTouch: false,
                grabCursor: false,
                freeMode: false,
                freeModeMomentum: false,
            
            });



        </script>
</body>

</html>