<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('navbar') %>  
    <div>
     <div class="hero section" style="background-color: rgba(219, 230, 236, 1); ">
       <div>
        <img src="/imgs/bride.jpg" alt="">

       </div>
       <div>

       </div>
       <img src="/imgs/hand.jpg" alt="">

      </div>
    <div class="reviews section">
        
    </div>
</div>
</body>
</html>